{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <h1>Edit Profile Page...</h1>
        <br/><br/>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data"><!--The enctype is to make our forms recognize image encryption after installing Pillow, then headover to your form for this page and make some changes-->
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update Profile Page</button>
            </form>
        </div>
    {% else %}
        <h3>Oops, You do not have the permission to edit this page, login and try again.</h3>
    {% endif %}
{% else %}
<strong>Kindly Login to continue</strong>
{% endif %}


{% endblock %}