{% extends 'base.html' %}

{% block title %}Blog Categories{% endblock %}


{% block content %}
<div class="products">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="filters-content">
              <div class="row grid">
              {% for product in data %}
                {% if product %}  
                  <div class="col-lg-4 col-md-4 all des">
                    <div class="product-item">
                      <a href="/{{ product.slug }}/{{ product.id }}"><img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.title.title }}"></a>
                      <div class="down-content">
                        <a href="{% url 'product_detail' product.slug product.id %}"><h4>{{ product.title }}</h4></a>
                        <p>{{ product.detail|truncatechars:100 }}</p>
                        <!--Use truncatechars to limit your text output to a fixed number-->
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}