{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}

<h1>Posts</h1>
<div class="container px-2">
    <div class="row row-cols-3 gx-1">
        <!--Align the column obj to three-->
        {% for post in object_list %}
            <div class="col-sm-6 col-lg-3 text-black mb-3">
                <div class="card" style="width: 16rem;">
                    {% if post.header_image %}
                        <img src="{{ post.header_image.url }}" class="card-img-top img-fluid" height=200 width=200 />
                    {% endif %}
                    <!--The above is to make sure our code does not break of there is no image-->
                    <div class="card-body">
                        <h5 class="card-title"><a href ="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h5>
                        <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
                        <small>posted by {{ post.author.first_name }} {{ post.author.last_name }}</small>  
                        <small>{{ post.post_date }}</small> 
                        <small>
                            {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <a href="{% url 'update_post' post.pk %}">Edit Post</a> | 
                                    <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
                                {% endif %}
                            {% endif %}
                        </small>
                        <p class="card-text">{{ post.snippet }}...</p>
                        <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>   
</div>

{% endblock %}